.products { 
    .store { 
        &-upper { 
            img { vertical-align: middle; }
        }
        &-main { display: flex; flex-flow: row wrap; justify-content: flex-start; margin-top: 2px; }
    }
}