@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.eot');
    src: local('Gotham Bold'), local('Gotham-Bold'),
    url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Bold.ttf') format('truetype'),
    url('../fonts/Gotham-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Gotham-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Gotham-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Gotham-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../../fonts/Gotham-Book.eot');
    src: local('Gotham Book'), local('Gotham-Book'),
    url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Book.ttf') format('truetype'),
    url('../fonts/Gotham-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Gotham-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Gotham-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Gotham-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../../fonts/Gotham-Light.eot');
    src: local('Gotham Light'), local('Gotham-Light'),
    url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Light.ttf') format('truetype'),
    url('../fonts/Gotham-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Gotham-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Gotham-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Gotham-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 300;
    font-style: normal;
}