@mixin gotham { font-family: 'Gotham', 'sans-serif' !important; }

@mixin gotham-bold { font-family: 'Gotham', 'sans-serif' !important; font-weight: bold; }

@mixin gotham-book { font-family: 'Gotham Book', 'sans-serif' !important; }