.store {
    &-upper { height: 110px; display: flex; justify-content: space-between;
        @include bp(phablet) { height: auto; margin: 10px 0 10px 0; }
        img, svg { fill: red;
            @include bp(portrait) { width: 15px; height: auto; }
        }
        span { line-height: 115px; margin-left: 20px; font-size: 20px; vertical-align: middle;
            @include bp(tablet) { line-height: 15px; font-size: 13px; margin-left: 5px; }
        }
        .action { text-transform: none !important; font-size: 14px; margin-left: 10px;
            @include bp(tablet) { font-size: 11px; }
        }
        div { 
            @include bp(tablet) { width: 50%; }
            &:nth-of-type(1), &:nth-of-type(2) { 
                @include bp(tablet) { display: flex; }
                span { 
                    @include bp(tablet) { margin: auto 10px; }
                }
            }
        }
        strong { @include gotham-bold; }
        &:first-of-type span { text-transform: uppercase; }
        &:last-of-type span  { text-transform: none !important; }
    }
    &-bottom { 
        .selected-buttons { margin: 40px 0 40px 0; text-align: right; font-size: 13px;
            .select { @include bp(phablet) { display: block; margin-bottom: 10px; }
        }
            @include bp(tablet) { font-size: 11px; text-align: center; }
        }
        button { border: 1px solid #ea2423; padding: 10px; color: #ea2423; margin: 2px; background: white; outline: none; font-size: 13px; 
            @include bp(portrait) { padding: 8px;}
            &:hover, &:active {
                background-color: #ea2423; color: #f8f8f8; 
            }
        }
        .button-active { background-color: #ea2423; color: #f8f8f8; }
    }
}